.header {
    padding: 26px 0;
    background: url("../img/header_bg.png") 50% 0 no-repeat;
    background-size: cover;

    .header-logo {
        width: 242px;
        margin: 0 auto;
    }

    .header-contact {
        padding-top: 15px;
        text-align: center;

        a {
            color: #fff;
            font-size: 23px;
            line-height: 30px;
            text-decoration: none;

            span {
                font-weight: 700;
            }
        }
    }

    .header-text {
        padding-top: 15px;
        text-align: center;
        font-family: $font-cond;

        .t1 {
            color: #fff;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 5px;

            span {
                font-weight: 700;
            }
        }

        .t2 {
            color: #73a440;
            font-size: 16px;
            line-height: 16px;

            span {
                font-weight: 700;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .header-logo {
            float: left;
            margin: 0 0 0 20px;
        }

        .header-contact {
            float: right;
            width: 240px;
            text-align: right;
            margin-right: 20px;
        }

        .header-text {

            .t1 {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 0;
            }

            .t2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .header-text {
            top: 5px;
            left: 100px;
            right: 0;
            padding-top: 0;
            position: absolute;

            .t1 {
                font-size: 22px;
                line-height: 24px;
            }

            .t2 {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .header-text {
            top: -5px;

            .t1 {
                font-size: 34px;
                line-height: 36px;
                margin-bottom: 0;
            }

            .t2 {
                font-size: 25px;
                line-height: 27px;
            }
        }
    }

    @media (min-width: 1700px) {
        padding: 30px 0;
    }
}

.footer {
    padding: 10px 0;
    background: url("../img/footer_bg.png") 50% 0 no-repeat;
    background-size: cover;

    .footer-contact {
        margin: 0 auto;
        text-align: center;

        li {
            line-height: 1;
        }

        .footer-tel {
            color: #fff;
            font-size: 26px;
            text-decoration: none;
        }

        .footer-mail {
            font-size: 20px;

            a {
                color: #fff;
                font-weight: 700;
            }
        }

        .footer-address {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .footer-social {
        font-size: 0;
        line-height: 0;
        padding: 10px 0;
        text-align: center;

        li {
            margin: 0 6px;
            display: inline-block;

            a {
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    .footer-copy {
        padding: 10px 0;
        text-align: center;

        li {
            color: #e8e8e8;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;

            span {
                display: block;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .footer-contact {
            margin: 0;
            float: right;
            width: 310px;
            text-align: left;

            .footer-mail {
                font-size: 24px;
            }
        }


        .footer-social {
            width: 80px;
            float: left;
            padding: 40px 0;
            margin-right: 30px;
        }

        .footer-copy {
            width: 300px;
            float: left;
            text-align: left;
        }
    }

    @media (min-width: $screen-md-min) {

        .footer-social {
            margin-left: 30px;
            margin-right: 60px;
        }
    }

    @media (min-width: 1700px) {
        padding: 40px 0;
    }
}

.form-block {
    margin: 0 auto;
    max-width: 360px;
    padding: 20px 25px 30px 25px;

    .form-title {
        color: #6f9e40;
        font-size: 22px;
        line-height: 26px;
        position: relative;
        text-align: center;
        padding-bottom: 25px;
        margin: 0 -20px 20px -20px;

        &:before {
            left: 50%;
            bottom: 0;
            content: '';
            width: 170px;
            margin-left: -85px;
            position: absolute;
            border-bottom: 1px solid #6f9e40;
        }
    }

    .t1 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin: 0 -20px 5px -20px;
    }

    .t2 {
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        font-style: italic;
        margin: 0 -5px 15px -5px;
    }

    .certificate {
        width: 95px;
        padding-top: 30px;
        margin: 30px auto 0 auto;
        position: relative;

        &:before {
            top: 0;
            left: 50%;
            content: '';
            width: 170px;
            margin-left: -85px;
            position: absolute;
            border-bottom: 1px solid #6f9e40;
        }
    }


    @media (min-width: $screen-sm-min) {
        width: 360px;
        float: right;
        max-width: inherit;
        margin-bottom: 10px;
    }
}

.photo {
    margin-left: -15px;
    margin-right: -15px;
    @include clearfix();

    li {
        width: 100%;
        float: left;
        overflow: hidden;
        position: relative;

        &.double {
            width: 100%;
            background: #181b29;
            @include transition(.5s ease-out);

            .double50 {
                display: none;
            }

            .double100 {
                display: block;
            }


            .hover {
                background: #3a498f;
            }
        }

        .double-inner {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            line-height: 20px;
            position: absolute;
            padding: 30px 25px 0 15px;

            .double-text {
                font-weight: 700;
            }

            .double-link {
                text-decoration: underline;
            }
        }

        img {
            opacity: 0.9;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
        }

        .hover {
            top: 7px;
            left: 7px;
            right: 7px;
            bottom: 7px;
            display: block;
            opacity: 0;
            overflow: hidden;
            font-size: 14px;
            line-height: 16px;
            padding: 10px 10px 5px 10px;
            text-align: center;
            position: absolute;
            border: 2px solid #fff;
            background: rgba(0,0,0, 0.75);
            -webkit-transform: scale3d(1.4,1.4,1);
            transform: scale3d(1.4,1.4,1);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            @include box-shadow(0 0 0 30px rgba(255,255,255,0.2));

            .action-text {
                font-size: 16px;
                line-height: 18px;
                text-align: center;
            }

            .hover-name {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;

                span {
                    font-weight: 700;
                    color: #73a440;
                }
            }
        }

        figure.effect-ming {
            background: #030c17;
        }

        figure.effect-ming img {

        }

        figure.effect-ming figcaption::before {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            border: 2px solid #fff;
            box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale3d(1.4,1.4,1);
            transform: scale3d(1.4,1.4,1);
        }

        figure.effect-ming h2 {
            margin: 20% 0 10px 0;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
        }

        figure.effect-ming p {
            padding: 1em;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }

        figure.effect-ming:hover h2 {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        figure.effect-ming:hover figcaption::before,
        figure.effect-ming:hover p {
            opacity: 1;
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
        }

        figure.effect-ming:hover figcaption {
            background-color: rgba(58,52,42,0);
        }

        figure.effect-ming:hover img {
            opacity: 0.4;
        }

        &:hover {

            .hover {
                opacity: 1;
                display: block;
                -webkit-transform: scale3d(1,1,1);
                transform: scale3d(1,1,1);
                @include transition(.5s ease-out);
            }
        }
    }

    @media (min-width: 400px) {

        li {
            width: 50%;
            float: left;

            &.double {
                width: 100%;

                .double50 {
                    display: block;
                }

                .double100 {
                    display: none;
                }
            }

            .double-inner {
                font-size: 18px;
                line-height: 24px;
                padding: 30px 30px 0 15px;
            }

            .hover {
                font-size: 11px;
                line-height: 13px;
            }
        }
    }

    @media (min-width: 500px) {

        li {
            .hover {
                font-size: 14px;
                line-height: 16px;

                .hover-name {
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-right: 360px;

        li {
            width: 50%;

            &.double {
                width: 100%;
            }

            .hover {
                padding-top: 3px;
                font-size: 11px;
                line-height: 12px;

                .hover-name {

                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }

    @media (min-width: 900px) {

        li {
            .hover {
                padding-top: 5px;
                font-size: 14px;
                line-height: 16px;

                .hover-name {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        li {
            width: 33.33%;

            &.double {
                width: 66.66%;
            }

            .double-inner {
                font-size: 20px;
                line-height: 26px;
                padding: 30px 40px 0 15px;
            }
            .hover {
                font-size: 12px;
                line-height: 14px;

                .hover-name {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }

    @media (min-width: 1100px) {

        li {
            .hover {
                padding-top: 5px;
                font-size: 14px;
                line-height: 16px;

                .hover-name {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            &.hidden1100 {
                display: none;
            }
        }
    }

    @media (min-width: 1500px) {

        li {
            width: 25%;

            &.double {
                width: 50%;
            }

            .double-inner {
                font-size: 24px;
                line-height: 30px;
                padding: 30px 40px 0 15px;
            }


            &.hidden1100 {
                display: block;
            }
        }
    }

    @media (min-width: 1700px) {

        li {
            width: 20%;

            &.double {
                width: 40%;
            }

            .hover {
                padding-top: 5px;
                font-size: 14px;
                line-height: 16px;

                .hover-name {
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}


.btn-close {
    top: 5px;
    right: 5px;
    color: #000;
    z-index: 9999;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
}