
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Cond/MyriadPro-Cond.otf')  format('opentype'),
    url('../fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
    url('../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.otf')  format('opentype'),
    url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.woff') format('woff'),
    url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.ttf')  format('truetype'),
    url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
    font-weight: 700;
    font-style: normal;
}
