.cf-ol {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 20px;
		position: relative;
	}

	input[type='text'] {
		margin: 0;
		width: 100%;
		outline: none;
		color: #dadada;
		font-size: 15px;
		font-weight: 200;
		line-height: 20px;
		font-style: italic;
		padding: 9px 20px;
		display: inline-block;
		border: 1px solid #6f9e40;
		background: rgba(255,255,255, 0.1);
		@include placeholder(#dadada);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}
}

.cf-sb {
	margin-bottom: 0;
	position: relative;

	&:before {
		right: 0;
		bottom: 0;
		width: 15px;
		height: 15px;
		content: ' ';
		position: absolute;
		background: #668f3e;
	}
}

.sendbutton {
	margin:0;
	width: 100%;
	z-index: 999;
	outline: none;
	display: block;
	color: #77c723;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 10px;
	line-height: 20px;
	text-align: center;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	border: 2px solid #668f3e;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.2s);

	&:hover {
		color: #77c723;
		background: rgba(255,255,255, 0.1);
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}
